<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}" />

        <link rel="stylesheet" href="/assets/css/app.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css" integrity="sha256-kIxwtDqhOVbQysWu0OpR9QfijdXCfqvXgAUJuv7Uxmg=" crossorigin="anonymous" >
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/adba7aa6cd.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark navbar-base fixed-top">
            <div class="container">
                    <a class="navbar-brand" href="/">Un instant pour soi</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto">
                            {% if app.user %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('new_care') }}">Nouveau soin</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('booking_new') }}">Prendre RDV</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1575686717697-f43bd36e74c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80')">
            <div class="banner-text">
                <h1>Un instant pour soi</h1>
                <h3>Votre esthéticienne à domicile</h3>
            </div>
            <a href="{{ path('booking_new') }}" class="btn btn-ghost">Prenez un RDV</a>
        </div>
            <div class="container mt-4">
                {% block body %}{% endblock %}
            </div>
            <footer class="footer-mat py-3">
                <div class="container d-flex">
                    <span class="text-muted text-center">Retrouvez moi aussi sur :</span>
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </footer>
            {% block javascripts %}{% endblock %}

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.js" integrity="sha256-RwTJwLtruVfpQ/9COgOgOoFtDQoDY92EqysD/ZMidS8=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>